
body{
  background-color: white;
  margin:0 auto;
  padding :25px;
  /* text-align: center; */
}
.heading{
  color:red;
}
img{
  height:100px;
  width:100px;
}
.upper{
  /* position:absolute;
  left:0; */
  height:100px;
display:flex;
background-color: rgb(15, 215, 195);
width:100%;
}
.celeb{
  font-size:4vh;
  /* margin:2px; */
  padding:6px;
}
#celeb{
  border-radius: 50%;
  border:7px solid white;
  margin:10px;
}
.lower{
  width:25%;
  background-color: aqua;
  /* margin-top:100px; */
  
}
